

ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}



.box {
    height: 2em;
    background-color: #444ba5;
    border: solid 1px black;
    padding: 10px 20px;
    display: inline-block;

   

}

.dragging {
    background: coral;
}
